---
- name: Install JVM
  package: name=java-1.8.0-openjdk-headless state=present

- name: Add repository for Elasticsearch 6.x packages
  yum_repository:
    name: elasticsearch-6.x
    description: Upstream Elasticsearch repository for 6.x packages
    baseurl: https://artifacts.elastic.co/packages/6.x/yum
    skip_if_unavailable: no
    gpgcheck: yes
    gpgkey: https://artifacts.elastic.co/GPG-KEY-elasticsearch
    enabled: yes

- name: Remove repository for Elasticsearch 5.x packages
  yum_repository:
    name: elasticsearch-5.x
    state: absent

- name: Check version of installed Elasticsearch
  command: rpm -q --queryformat "%{VERSION}" elasticsearch
  register: elasticsearch_version_res
  changed_when: false
  failed_when: false

- name: Remove other version of Elasticsearch
  package: name=elasticsearch state=absent
  when:
    - not elasticsearch_version_res.stdout | match('package elasticsearch is not installed')
    - not elasticsearch_version_res.stdout | search('^' + elasticsearch_version)

- name: Install Elasticsearch
  package: name=elasticsearch state=present
  notify:
    - Restart Elasticsearch

- name: Get Elasticsearch's system user
  command: systemctl --property=User show elasticsearch.service
  register: elasticsearch_user_res
  changed_when: false

- name: Get Elasticsearch's system group
  command: systemctl --property=Group show elasticsearch.service
  register: elasticsearch_group_res
  changed_when: false

- set_fact:
    elasticsearch_user: "{{ elasticsearch_user_res.stdout | regex_replace('^User=', '') }}"
    elasticsearch_group: "{{ elasticsearch_group_res.stdout | regex_replace('^Group=', '') }}"

- name: Prepare Elasticsearch's data directory
  file:
    path: "{{ elasticsearch_data_dir }}"
    state: directory
    owner: "{{ elasticsearch_user }}"
    group: "{{ elasticsearch_group }}"

- name: Prepare Elasticsearch's log directory
  file:
    path: "{{ elasticsearch_log_dir }}"
    state: directory
    owner: "{{ elasticsearch_user }}"
    group: "{{ elasticsearch_group }}"
